*{
	padding: 0px;
	margin: 0px;
}
a{
	text-decoration: none;
	color:black;
	align-items:center;
}
body{
	font-family: arial;
}
ul{
	background-color:gray;
	list-style: none;
	position: absolute;
	top: 30%;
	width: 100%;
	
}
li{
	display:block;
}
nav{
	background-color: gray;
	width:17%;
	height: 100%;
	position: absolute;
}
li a{
	background: transparent;
	display: block;
	padding: 20px 5px;
	color: white;
	height: 100%;
}
li a:hover{
	background-color: rgb(176,224,230);
	color: black;
	transition: 0.5s;
}
.formulario{
	width: 83%;
    height: 100%;
    position: absolute;
    left: 17%;
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;
}
.inputPesquisa{
	display: flex;
    margin-bottom: 20px;
    width: 100%;
    text-align: center;
}
.table{
	border: 0.5px solid black;
    width: 100%;
}
.nomes{
	text-align: center;
}
.tabelaAdicionar{
	display: block;
    margin: 10px;
    text-align: center;
}
.posicionarCheck {
    display: inline-block;
    text-align: end;
}
.posicionarCheck h2{
	margin-bottom: 30px;
}
.bordaTabelaAdicionar{
	border: 0.5px solid black;
	display: grid;
}
.botoes{
	padding-top: 20%;
	text-align: center;
}
.botoes a{
	margin-top: 25px;
    background: transparent;
    color: black;
    width: 100px;
    height: 25px;
    border-radius: 10px;
    border: 0.3px solid black;
    font-weight: 700;
    font-size: 18px;
    cursor: pointer;
    position: relative;
    display: inline-block;
    text-align: center;
}
.botoes input{
	margin-top: 25px;
    background: transparent;
    color: black;
    width: 100px;
    height: 25px;
    border-radius: 10px;
    border: 0.3px solid black;
    font-weight: 700;
    font-size: 18px;
    cursor: pointer;
    position: relative;
    display: inline-block;
    text-align: center;
}
.botoes input:hover{
	bottom: 1.5px;
	color: rgb(0, 128, 128);
	transition: 0.5s;
}
.botoes a:hover {
	bottom: 1.5px;
	color: rgb(0, 128, 128);
	transition: 0.5s;
}
.categoriasChaves{
  	background-color: #e7e7e7; 
    border: none;
   	color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
.listaBotoesCategoria{
	display:grid;
}
.voltarProduto{
	display: flex;
    justify-content: center;
}
.menu-lateral img{
	width: 100px;
    height: 100px;
    margin-left: 17%;
}
.informacaoEmpresa{
	display: block;
    justify-content: center;
    margin-left: 17%;
    text-align: center;
}
